<ion-view class="title" ng-controller="StandingsCtrl as vm">
  <ion-content class="has-header">
    <div class="list">
     <div ng-repeat="division in vm.standings">
      <div class="item item-divider item-energized">{{division.divisionName}}</div>

      <a class="item item-icon-right" ng-repeat="standing in division.divisionStandings" href="#/app/teams/{{team.id}}">

        <div class="row">
          <div class="col">
            <h2 class="positive">{{standing.teamName}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Wins</h4>
          </div>
          <div class="col">
            <h4>Losses</h4>
          </div>
          <div class="col">
            <h4>Pct</h4>
          </div>
          <div class="col">
            <h4>PF</h4>
          </div>
          <div class="col">
            <h4>PA</h4>
          </div>
          <div class="col">
            <h4>Diff</h4>
          </div>
        </div>
        <div class="row">
          <dic class="col">
            <h5>{{standing.wins}}</h5>
          </dic>
          <dic class="col">
            <h5>{{standing.losses}}</h5>
          </dic>
          <dic class="col">
            <h5>{{standing.winningPct}}</h5>
          </dic>
          <dic class="col">
            <h5>{{standing.pointsFor}}</h5>
          </dic>
          <dic class="col">
            <h5>{{standing.pointsAgainst}}</h5>
          </dic>
          <dic class="col">
            <h5>{{standing.pointsDiff}}</h5>
          </dic>
        </div>

        <i class="icon icon-chevron-right icon-accessory"></i>
      </a>
     </div>
    </div>
  </ion-content>
</ion-view>
